<p>products works!</p>
<div class="hexagon_gallery">
  @for(product of products; let i_bg = $index; track i_bg){
  <div class="hexagon_gallery_item card-cover">
    <img src="../../../../../assets/imgs/logo.jpg" alt="" srcset="" lazyload />
    <div class="card-info">
      <div class="card_title d-none">
        <h2>Shampoo de miel y gengibre</h2>
      </div>
      <div class="item_buttons_container">
        <button
          mat-icon-button
          class="detail"
          aria-label="Example icon button with a vertical three dot icon"
          [routerLink]="['/detail-product']" routerLinkActive="router-link-active" 
        >
          <mat-icon
            aria-hidden="false"
            aria-label="info icon"
            fontIcon="info"
          ></mat-icon>
        </button>
        <button
          mat-icon-button
          class="detail"
          aria-label="Example icon button with a vertical three dot icon"
          (click)="addProductToCart(product)"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="add_shopping_cart icon"
            fontIcon="add_shopping_cart"
          ></mat-icon>
        </button>
        <button
          mat-icon-button
          class="detail"
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="share icon"
            fontIcon="share"
          ></mat-icon>
        </button>
        <button
          mat-icon-button
          class="detail"
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="favorite icon"
            fontIcon="favorite"
          ></mat-icon>
        </button>
      </div>
    </div>
  </div>
  }
</div>
