<section class="order-details" aria-label="orderDetail">
  <p>
    Artículos: {{ cartDetail.products.length }} <br />
    @for ( product of cartDetail.products; let order_i = $index; track order_i)
    {
    <span [title]="product.title">
      {{ product.title | slice : 0 : 20 }}
    </span>
    <span class="float-right"> x {{ product.quantity }} </span> <br />
    }
  </p>
  <hr />
  <p>
    <!-- Código:
    <span class="float-right"> ASDKJH </span>
    <br /> -->
    <!-- Fecha:
    <span class="float-right">
      {{ today | date : "d/M/yy, h:mm a" }}
    </span>
    <br /> -->
    Subtotal:
    <span class="float-right"> {{ calSubTotal() | currency }} </span>
    <br />
    <!-- Descuento:
    <span class="float-right"> 100</span>
    <br /> -->
    Envio:
    <span class="float-right"> {{ envio | currency }} </span>
    <br />
    Total:
    <span class="float-right"> {{ calSubTotal() + envio | currency }} </span>
  </p>
</section>
