.payments-container {
  padding: 2rem;
  @media (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 300px;
  }
}
.cart-container {
  padding-right: 2rem;
}
.product-image {
  width: 100%;
  max-width: 60px;
  border-radius: 4px;
}

.tableCart {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  // border-radius: 1rem;
  th {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  tbody tr {
    &:hover {
      background-color: #222;
    }
  }

  input {
    width: 3rem;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    border: none;
  }
}

// order details
