<app-header/>
<section id="atract-atention">
</section>
<section id="welcome">
</section>
<section id="featured">
</section>
<section id="call-to-action">
</section>
<section id="oferts">
</section>
<section id="last-news">
</section>
<section id="testimonies">
</section>
<section id="quick-links">
</section>
<section id="social-media">
</section>

<!-- Encabezado: Un encabezado claro que presenta el nombre de tu empresa y posiblemente un eslogan breve que resuma la misión o el enfoque de tu empresa en apicultura. -->
<!-- Imagen o Video Atractivo: Incluye una imagen o un video de alta calidad relacionado con la apicultura. Puede ser una colmena, abejas trabajando, o cualquier otra imagen que capture la esencia de tu negocio. -->
<!-- Mensaje de Bienvenida: Un mensaje de bienvenida breve y atractivo que invite a los visitantes a explorar tu sitio. Puedes destacar los valores de tu empresa o cualquier mensaje que desees transmitir. -->
<!-- Características Destacadas: Destaca algunas características clave de tus productos o servicios. Puedes presentar brevemente por qué tus productos son especiales o cómo benefician a los clientes. -->
<!-- Llamada a la Acción (CTA): Incluye una llamada a la acción clara que motive a los visitantes a realizar alguna acción, como explorar el catálogo, suscribirse a boletines, o realizar una compra. -->
<!-- Ofertas Especiales (si las hay): Si tienes ofertas especiales o productos destacados, muéstralos en la página de inicio. Pueden ser descuentos, paquetes especiales, o productos destacados del mes. -->
<!-- Testimonios (si los tienes): Si tienes testimonios de clientes satisfechos, considera incluir algunos en la página de inicio. Los testimonios pueden generar confianza y credibilidad. -->
<!-- Enlaces Rápidos a Secciones Clave: Proporciona enlaces rápidos a secciones clave de tu sitio, como el catálogo de productos, el carrito de compras, o la sección de contacto. -->
<!-- Últimas Noticias o Novedades: Si tienes una sección de blog o compartes noticias relacionadas con la apicultura, puedes mostrar las últimas publicaciones o actualizaciones en la página de inicio. -->
<!-- Redes Sociales: Incluye enlaces a tus perfiles de redes sociales. Esto permite a los visitantes seguirte en plataformas como Instagram o Twitter para obtener actualizaciones regulares. -->
<!-- Información de Contacto Rápida: Agrega información de contacto fácilmente accesible, como un número de teléfono o dirección de correo electrónico, para que los visitantes puedan comunicarse contigo directamente desde la página de inicio. -->