<article class="product">
  <div class="product_image_wrapper">
    <img
      class="product_image"
      src="../../../../../assets/imgs/logo.jpg"
      alt=""
      srcset=""
      lazyload
    />
  </div>
  <section class="product_info">
    <h2 class="">product title</h2>
    <p>
      <span class=""> Price $15 </span> <br />
      <span class=""> impuestos inlcuidos</span>
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas veritatis
      deserunt eius in earum quod non eligendi, culpa dignissimos commodi
      suscipit tempora accusantium perspiciatis labore distinctio aspernatur
      fugiat voluptatem vitae? Inventore officiis dolorum hic illum placeat,
      eaque quo consequatur, vel eum repudiandae voluptate doloribus ut officia
      pariatur ipsa adipisci deserunt ipsum aliquid! At ab nostrum nihil dicta
      possimus hic voluptatem.
    </p>

    <mat-form-field class="product-quantity-form-field">
      <mat-label>Cantidad</mat-label>
      <input min="1" max="99" type="number" matInput [(ngModel)]="value">
      @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="addProductToCart(product)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      }
    </mat-form-field>

  </section>
</article>
