<article class="product">
  <div class="product_image_wrapper">
    <img
      class="product_image"
      [src]="product.image"
      [alt]="product.title"
      lazyload
    />
  </div>
  <section class="product_info">
    <h2 class="">{{ product.title | titlecase }}</h2>
    <p>
      <span class=""> Presio: {{ product.price | currency : "USD" }} </span>
      <br />
      <small class=""> * impuestos incluidos</small>
    </p>

    <p>{{ product.description }}</p>
    <button
      matSuffix
      mat-icon-button
      aria-label="addProductToCart"
      (click)="addProductToCart(product)"
    >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>

    <!-- <mat-form-field class="product-quantity-form-field">
      <mat-label>Cantidad: {{ product?.quantity ?? 0 }}</mat-label>
      <input min="1" max="99" type="number" matInput [(ngModel)]="quantity" />
      @if (quantity) {
      <button
        matSuffix
        mat-icon-button
        aria-label="addProductToCart"
        (click)="addProductToCart(product, +quantity)"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      }
    </mat-form-field> -->
  </section>
</article>
