<mat-drawer-container class="example-container" autosize hasBackdrop="true">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <h2>Sidenav</h2>
    <ul>
      @for (item of navList; let idx = $index ; track item.name) {
      <li [routerLink]="item.route" routerLinkActive="router-link-active">
        {{ item.name }}
      </li>
      } @empty {
      <li>There are no items.</li>
      }
    </ul>
  </mat-drawer>
  <app-header (toggleNav)="drawer.toggle()" />
  <!-- <router-outlet></router-outlet> -->
  <ng-content> </ng-content>
</mat-drawer-container>
