/* You can add global styles to this file, and also import other style files */
@import "./styles/utils";

* {
  box-sizing: border-box;
  min-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Bree Serif", Times, serif !important;
  text-shadow: 1px 1px 4px black;
}

p {
  text-wrap: pretty;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .mat-drawer-content {
//   height: 100dvh;
// }

.d-none {
  display: none;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

// Material expands
// .mat-icon::before {
//   text-shadow: 1px 1px 2px black;
// }

// Material Overrides
